<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>amCharts 5 Example - xy-live-data</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/index1.css" />
  </head>
  <body>
    <h1>Shibe Stock</h1>
    <div id="chartdiv"></div>
    <script src="../static/index.js"></script>
    <script src="../static/xy.js"></script>
    <script src="../static/themes/Animated.js"></script>
    <script src="../static/index1.js"></script>
  </body>
</html>